/* Encabezado del TableView */
#tableMedicos .column-header-background {
    -fx-pref-height: 36px; /* altura de la fila de encabezados */
}

/* Texto en los encabezados */
#tableMedicos .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-font-size: 14px;
}